body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    color: #434455;
}

.my-header {
    border-bottom: 1px solid #e7e9fc;
}

h1 {
    width: 0 auto;
}

.container {
    display: flex;
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-nav {
    align-items: center; 
}

.menu {
    display: flex;
    gap: 40px;
    padding: 24px 0;   
}

.my-menu {
    padding: 24px 0;
}
.my-list {
    display: flex;
    gap: 40px; 
}

a {
    text-decoration: none;
}
    
ul {
    list-style: none;
    margin: 0 auto;
}

.header-logo {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    padding: 24px 0;
}

.header-logo-span {
    color: #2e2f42;
}

.my-class-link {
    color: var(--NAVY-BLUE, #2E2F42);
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.02em;
    padding: 24px 0 24px;
}

.my-class-link:hover {
    color: #404bbf;
}

.my-class-link:focus {
    color: #404bbf;
}

.not-kursiv {
    font-style: normal;
    display: flex; 
    gap: 40px;
}

.my-class {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.my-link {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.my-link:hover {
    color: #404bbf 
}

.my-link:focus {
    color: #404bbf;
}

.section-one {
    color: var(--WHITE, #fff);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    background-color: #2e2f42;
    padding: 188px 0;
}

.my-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    width: 0 auto;
}

.my-button {
    font-family: "Roboto", sans-serif;
    background: var(--IRIS, #4D5AE5);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none; 
    border-radius: 4px; 

    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
}

.my-button:hover {
    background-color: #404BBF;
}

.my-button:focus {
    background-color: #404BBF;
}


h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;   
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-two-item {
    display: flex;
    gap: 24px;  
}

button {
    background: var(--IRIS, #4D5AE5);
    text-align: center;
}

h3 {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
}

p {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.section-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;    
}

.section-two-main {
    padding: 120px 0;
}

li, div, a {
    margin: 0 auto;
}

.benefits .two-item {
    flex-basis: calc((100% - 72px) / 4); 
    margin: 0 auto;
}

.my-item {
    line-height: 1.5;  
    margin: 0 auto;  
}

.section-three {
    background-color: #F4F4FD; 
    padding: 120px 0;  
}



.section-three-item {
    text-align: center;
    color: #2e2f42; 
    line-height: 1.11;  
    text-transform: capitalize;
    margin-bottom: 72px;
}

.my-section-three {
    background-color: #FFFFFF;
    display: flex;
    gap: 24px; 
}

.my-hero {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px; 
}

.cont-hero {
    padding: 32px 0;
}

.three-cont {
    padding: 32px 0 32px;
}

.section-three-item {
    text-align: center;
    color: #2e2f42; 
    line-height: 1.11;  
    text-transform: capitalize
}

.section-three-name {
    line-height: 1.2;
    text-align: center; 
    margin-bottom: 8px;
}

.three-section-item {
    font-size: 16px;
    line-height: 1.5;
    text-align: center; 
}

.section-four {
    padding-top: 120px; 
    padding-bottom: 120px; 
}

.title-four {
    margin-bottom: 72px;
}

.my-port {
    width: calc((100% - 48px) / 3); 
}

.cont-port {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-four-name {
    line-height: 1.2;
    margin-bottom: 8px;
}

.my-section-four {
    display: flex;
    flex-wrap: wrap;
    gap: 24px; 
    row-gap: 48px;     
}

.my-port {
    width: calc((100% - 48px) / 3);     
}

.cont-hero {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;    
}

.section-four-item {
    line-height: 1.5;   
}

.header-link-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.my-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-item {
    line-height: 1.5;
    color: #F4F4FD;    
}

.heater-logo-span-foot {
    color: #f4f4fd;
}
img {
    display: block;
}



margin-bottom: 16px;